/*General fonts and styles based on Reddit*/
* {
	font-family: Verdana, Geneva, sans-serif;
	background-color: #DAE0E6;
}

.background-container {
	display: grid;
	background-color: #DAE0E6;
	grid-auto-rows: minmax(36px, auto);
}


.card {
	background-color: white;
	border-radius: 4px;
	border: 1px solid #ccc;
}

svg {
	background-color: white;
}

div.tooltip {
	position: absolute;
    text-align: center;
    padding: 4px;
	border-radius: 8px;
    pointer-events: none;
}

.tooltip h2 {
    margin: auto;
    font-size: 18px;
}


/*Styling toggle between views */
.home-view {
	display: none;
	padding:10px;
	background-color: #DAE0E6;
	grid-template-columns: repeat(15, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(36px, auto);
}

#node {
	grid-column: 2/10;
	grid-row: 1/9;
}

#node-summary {
	grid-column: 10/15;
	grid-row: 1/9;
}

#summary-view-violin-card {
	grid-column: 2/6;
	grid-row: 9/13;
}

#summary-view-post-card {
	grid-column: 6/11;
	grid-row: 9/13;
}

#summary-view-readability-violin-card {
	grid-column: 11/15;
	grid-row: 9/13;
}

.summary-violin {
	fill: #9494FF;
	stroke: #FF8b60;
}

.summary-violin-area {
	opacity: 0.5;
}

.summary-violin-line {
	opacity: 1;
	stroke-width: 1.5;
	fill: none;
}

.summary-violin-x-axis {
	stroke-width: 2;
}

#summary-violin-median {
	fill: red;
}

#summary-violin-quartile-box {
	fill: #FF8b60;
	opacity: 0.5;
}

#summary-readability-violin-median {
	fill: red;
}

#summary-readability-violin-quartile-box {
	fill: #FF8b60;
	opacity: 0.5;
}

.summary-view-ts-posts-point {
	fill: #FF8b60;
}

.summary-view-ts-path {
	fill: none;
	stroke: #9494FF;;
	stroke-width: 1.5;
}


/*Ranked view styles*/
.ranked-view {
	display: none;
	padding:10px;
	background-color: #DAE0E6;
	grid-template-columns: repeat(15, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(36px, auto);
	transform: translate(1000px,0)
}

#ranked-timeseries {
	grid-column: 2/15;
	grid-row: 1/7;
}

#ranked-density {
	grid-column: 2/15;
	grid-row: 7/20;
}

tr,td,th {
	background-color: white;
	text-align: center;
}

.subreddit{
	height: 50px;
	width: 100px;
}

.density{
	height: 50px;
	width: 500px;
}

.positive{
	height: 50px;
	width: 100px;
}

.negative{
	height: 50px;
	width: 100px;
}

.compound{
	height: 50px;
	width: 100px;
}

.table-axis{
	height:20px;
}

body {
	overflow-x: hidden;
}

/* Node/network styles */
.selectedNode {
	stroke: #FF8b60;
	fill: white
}

.otherNode {
	stroke: #9494FF;
	fill: white
}

.hidden {
	opacity: 0
}

#node {
  height: 600;
  width: 950px;
  overflow: scroll;
}

/* https://stackoverflow.com/questions/33705412/drop-down-menu-over-d3-svg */
.nodeSelection {
    position: absolute;
    width: 190px;
    top:40px;
    left:25px;
}

.network-plot {
	background-color: darkgrey
}

.node-plot {
	background-color: darkgrey
}