/*General fonts and styles based on Reddit*/
* {
	font-family: Verdana, Geneva, sans-serif;
	background-color: #DAE0E6;
}

.card {
	background-color: white;
	border-radius: 4px;
	border: 1px solid #ccc;
}

svg {
	background-color: white;
}

div.tooltip {
	position: absolute;
    text-align: center;
    padding: 4px;
	border-radius: 8px;
    pointer-events: none;
}

.tooltip h2 {
    margin: auto;
    font-size: 18px;
}


/*Styling toggle between views */



/* Summary View Stylings */
/*#summary-view-container {*/
/*	padding: 0px 30px 30px 30px;*/
/*	position: absolute;*/
/*	bottom: 0px;*/
/*	background: white;*/
/*}*/

/* Ranked View Stylings */
#ranked-view-container {
	display: none;
}

.home-view {
	display: grid;
	padding:10px;
	background-color: #DAE0E6;
	grid-template-columns: repeat(15, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(36px, auto);
}

.ranked-view{
	display: none;
}

#node {
	grid-column: 2/10;
	grid-row: 1/9;
}

#node-summary {
	grid-column: 10/15;
	grid-row: 1/9;
}

#summary-view-violin-card {
	grid-column: 2/6;
	grid-row: 9/13;
}

#summary-view-post-card {
	grid-column: 6/11;
	grid-row: 9/13;
}

#summary-view-sentiment-card {
	grid-column: 11/15;
	grid-row: 9/13;
}

.summary-violin {
	fill: #9494FF;
	stroke: #FF8b60;
}

.summary-violin-area {
	opacity: 0.5;
}

.summary-violin-line {
	opacity: 1;
	stroke-width: 1.5;
	fill: none;
}

.summary-violin-x-axis {
	stroke-width: 2;
}

#summary-violin-median {
	fill: red;
}

#summary-violin-quartile-box {
	fill: #FF8b60;
	opacity: 0.5;
}

.summary-view-ts-posts-point {
	fill: #FF8b60;
}

.summary-view-ts-path {
	fill: none;
	stroke: #9494FF;;
	stroke-width: 1.5;
}